.banner{
	width: 1280px;
	height: 500px;
	margin: 0 auto;
	position: relative;
}
.banner img{
	position: absolute;
	top: 0;	
	left: 0;
}
.title{
	width: 1280px;
	margin: 0 auto;
	background: url(../img/title3.jpg) center;
}
.Photo{
	width: 1230px;
	margin: 0 auto;
}
.Photo ul:after{
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
.Photo ul li{
	float: left;
}
.Photo1{
	width: 400px;
	height: 500px;
	margin: 20px 5px;
	background: #444;
	position: relative;
	overflow: hidden;
}
.Photo1 img{
	width: 400px;
	height: 420px;
}
.Photo1 p{
	line-height: 80px;
	text-align: center;
	color: white;
	font-size: 24px;
}
.fbox{
	width: 400px;
	height: 267px;
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	top:-267px;
	transition: all 0.3s linear;
	opacity:0.3;
}
.fbox img{
	width: 400px;
	height: 267px;
}

.Photo1:hover .fbox{
	transform: translateY(267px);
}
